
     .pictoSelect__image{
        display: flex;
        justify-content: center;
        align-content: center;
        width: 12rem ;
        padding: 16px;
        margin: 10px;
     }
     .ckeckList{
        background: red;
     }